%a{href: "/"} clear

%h2.ui.header summary

- total = @summary.map {|l| l[:sum_res_time]}.inject(:+)
%table.ui.celled.collapsing.table
  %thead
    %tr
      %th no
      %th normalized path
      %th count
      %th total res_time(ms)
      %th average res_time(ms)
      %th min res_time(ms)
      %th max res_time(ms)
  %tbody
    - @summary.each_with_index do |log, idx|
      %tr
        %td= idx + 1
        %td
          %a{href: "?normalized_path=#{log[:normalized_path]}"}= log[:normalized_path]
        %td= log[:count]
        %td= "#{(log[:sum_res_time] * 1000).round(2)} (#{(log[:sum_res_time] / total * 100).round(2)}%)"
        %td= (log[:ave_res_time] * 1000).round(2)
        %td= (log[:min_res_time] * 1000).round(2)
        %td= (log[:max_res_time] * 1000).round(2)

%h2.ui.header detail

%table.ui.celled.table
  %thead
    %tr
      %th id
      %th request_id
      %th method
      %th normalized path
      %th path
      %th http_version
      %th status
      %th type
      %th res_time
  %tbody
    - @logs.each do |log|
      %tr{class: log[:status] == 404 ? 'negative' : ''}
        %td
          %a{href: "/#{log[:id]}"}= log[:id]
        %td
          %a{href: "/requests/#{log[:request_id]}"}= log[:request_id]
        %td= log[:method]
        %td= log[:normalized_path]
        %td= log[:path]
        %td= log[:http_version]
        %td= log[:status]
        %td= log[:type]
        %td= "#{(log[:res_time] * 1000).round(2)}ms"
  %tfoot
    %tr
      %th{colspan: 9}
        .ui.right.floated.pagination.menu
          - current = params[:page].to_i == 0 ? 1 : params[:page].to_i
          - start = [1, current - 3].max
          - last = [(@count / 20.0).ceil, current + 3].min
          - if current != 1
            %a.icon.item{href: "?page=#{current - 1}&#{@cond}"}
              %i.left.chevron.icon
          - (start..last).each do |i|
            - if i == current
              %a.item.active{href: "?page=#{i}&#{@cond}"}= i
            - else
              %a.item{href: "?page=#{i}&#{@cond}"}= i
          - if current != last
            %a.icon.item{href: "?page=#{current + 1}&#{@cond}"}
              %i.right.chevron.icon
